@value commonBlack, commonBlue, commonSkyblue, commonGrey from '../../common/colors.css';

* {
  box-sizing: border-box;
}

.cardPack {
  width: fit-content;
  margin-left: 1.4rem;
  position: relative;
}

.flip.front {
  transform: rotateY(180deg);
}

.flip.back {
  transform: rotateY(0deg);
}

.card {
  width: 13em;
  height: 20em;
  padding: 1rem;
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backface-visibility: hidden;
  visibility: visible;
  transition: 1s ease-in-out;

  /* for safari */
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-perspective: 0;
  -webkit-transition: 1s;
}

.front {
  position: absolute;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(-180deg);
}

.card.skyblue {
  background-color: commonSkyblue;
  border: 0.1rem solid commonSkyblue;
}

.card.blue {
  background-color: commonBlue;
  border: 0.1rem solid commonBlue;
}

.card.black {
  background-color: commonBlack;
  border: 0.1rem solid commonSkyblue;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.2rem;
}

.more {
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  border: none;
  transition: 0.2s ease-in-out;
}

.more:hover {
  transform: scale(1.3);
}

.more.skyblue {
  color: commonBlue;
}

.more.blue {
  color: commonSkyblue;
}

.more.black {
  color: commonSkyblue;
}

.count {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.count.skyblue:hover {
  background-color: commonSkyblue;
  color: commonBlue;
}

.count.blue:hover {
  background-color: commonBlue;
  color: commonSkyblue;
}

.count.black:hover {
  background-color: commonBlack;
  color: commonSkyblue;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.date,
.tag,
.count {
  font-size: 0.9rem;
  background-color: transparent;
  border-radius: 1.2rem;
  padding: 0.2rem 0.7rem;
}

.date,
.count {
  font-weight: 700;
}

.date.skyblue,
.count.skyblue {
  background-color: commonBlue;
  color: commonSkyblue;
  border: 0.1rem solid commonBlue;
}

.date.blue,
.count.blue {
  background-color: commonSkyblue;
  color: commonBlue;
  border: 0.1rem solid commonSkyblue;
}

.date.black,
.count.black {
  background-color: commonSkyblue;
  color: commonBlack;
  border: 0.1rem solid commonSkyblue;
}

.tag {
  margin-right: 0.2rem;
  margin-bottom: 0.2rem;
}

.tag.skyblue {
  background-color: commonSkyblue;
  color: commonBlue;
  border: 0.1rem solid commonBlue;
}

.tag.blue {
  background-color: commonBlue;
  color: commonSkyblue;
  border: 0.1rem solid commonSkyblue;
}

.tag.black {
  background-color: commonBlack;
  color: commonSkyblue;
  border: 0.1rem solid commonSkyblue;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.title {
  width: 50%;
  font-weight: 700;
  margin: 0;
  text-align: end;
}

.title.skyblue {
  color: commonBlue;
}

.title.blue {
  color: commonSkyblue;
}

.title.black {
  color: commonSkyblue;
}
