@value commonBlack, commonBlue, commonSkyblue, commonGrey from '../../common/colors.css';

/* @font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
} */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  /* font-family: "NanumSquareRound"; */
}

body {
  background-color: commonBlack;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: commonBlue;
  text-align: center;
  margin: 0;
  margin-bottom: 0.3rem;
}

.card {
  width: 15em;
  height: 22em;
  display: flex;
  flex-direction: column;
  background-color: commonSkyblue;
  padding: 1.4rem;
  border: 0.2rem solid commonBlue;
  border-radius: 1.2rem;
  justify-content: space-between;
}

.subtitle {
  color: commonBlue;
  font-size: 1.2rem;
  font-weight: 700;
  text-align: end;
  margin: 0;
  margin-bottom: 0.5rem;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-top: 0.5rem;
}

.button {
  width: 100%;
  height: 2.5em;
  color: commonBlue;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  border: 0.1rem solid commonBlue;
  border-radius: 1.2rem;
}

.button:hover {
  background-color: commonBlue;
  color: commonSkyblue;
}
